/vendor/
# remove some core classes... haha
/src/data/PriceObject.php
/src/Pricing.php
/src/data/ZoneObject.php
/src/Zone.php
/src/Route.php
/src/Settlement.php
/src/data/SettlementObject.php
/src/data/RouteObject.php